<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <title>404</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="../../../res/layui/css/layui.css">
  <link rel="stylesheet" href="../../../res/css/global.css">
  <style>

    [v-cloak]{
      display: none;
    }
  </style>
</head>
<body>
<div class="header-page"></div>

<div class="layui-hide-xs">
  <div class="fly-panel fly-column">
    <div class="layui-container">
      <ul class="layui-clear"  id="titlevue" v-cloak>
        <li class="layui-hide-xs"><a href="/">首页</a></li>
        <li v-for="(item,index) in Colomn">
          <a :href="'/jie/indexhtml?id='+item.iD" >{{ item.name }}</a>
        </li>
        <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><span class="fly-mid"></span></li>

        <!-- 用户登入后显示 -->
        <li v-if="session2!=null" class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><a href="../user/index.html">我发表的贴</a></li>
        <li v-if="session2!=null" class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><a href="../user/index.html#collection">我收藏的贴</a></li>
      </ul>

      <div class="fly-column-right layui-hide-xs">
        <span class="fly-search"><i class="layui-icon"></i></span>
        <a href="/jie/add" class="layui-btn">发表新帖</a>
      </div>
      <div class="layui-hide-sm layui-show-xs-block" style="margin-top: -10px; padding-bottom: 10px; text-align: center;">
        <a href="/jie/add" class="layui-btn">发表新帖</a>
      </div>
    </div>
  </div>
</div>

<div class="layui-container fly-marginTop">
	<div class="fly-panel">
	  <div class="fly-none">
	    <h2><i class="iconfont icon-404"></i></h2>
	    <p>页面或者数据被 纸飞机 运到火星了，啥都看不到了…</p>
	  </div>
	</div>
</div>

<div class="fly-footer">
  <p>Copyright &copy; 2020.Company name All rights reserved.</p>
</div>
<script src="../../../res/layui/layui.js"></script>
<script src="../../../js/jquery-2.1.1.min.js"></script>
<script>
  $('.header-page').load('../common/header.html');
</script>
<script src="../../../js/vue.min.js"></script>
<script src="../../../js/title.js"></script>

</body>
</html>