 
 
<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <title>分类</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="../../../res/layui/css/layui.css">
  <link rel="stylesheet" href="../../../res/css/global.css">
  <style>
    [v-cloak]{
      display: none;
    }
  </style>
</head>
<body>

<div class="header-page"></div>

<div class="fly-panel fly-column">
  <div class="layui-container">
    <ul class="layui-clear" id="titlevue" v-cloak>
      <li class="layui-hide-xs"><a href="/index">首页</a></li>
      <li v-for="(item,index) in Colomn" :class="generateClassName(item.iD)">
        <a :href="'/jie/indexhtml?id='+item.iD" >{{ item.name }}</a>
      </li>
      <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><span class="fly-mid"></span></li> 
      
      <!-- 用户登入后显示 -->
      <li v-if="session2!=null" class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><a href="../user/index.html">我发表的贴</a></li>
      <li v-if="session2!=null" class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><a href="../user/index.html#collection">我收藏的贴</a></li>
    </ul> 
    
    <div class="fly-column-right layui-hide-xs"> 
      <span class="fly-search"><i class="layui-icon"></i></span> 
      <a href="/jie/add" class="layui-btn">发表新帖</a>
    </div> 
    <div class="layui-hide-sm layui-show-xs-block" style="margin-top: -10px; padding-bottom: 10px; text-align: center;"> 
      <a href="/jie/add" class="layui-btn">发表新帖</a>
    </div> 
  </div>
</div>

<div class="layui-container"  id="vueDetail" v-cloak>
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md8">
      <div class="fly-panel" style="margin-bottom: 0;">
        
        <div class="fly-panel-title fly-filter">
          <a href="#" class="layui-this">综合</a>
          <span class="fly-mid"></span>
          <span class="fly-filter-right layui-hide-xs">
            <a href="#" class="layui-this">按最新</a>
            <span class="fly-mid"></span>
            <a href="#" v-on:click="">按热议</a>
          </span>
        </div>
        <ul  class="fly-list">
          <li v-for="(item,index) in Article" :key="index">
            <a :href="'/user/homehtml?userID='+item.userID" class="fly-avatar">
              <img :src="item.image" :alt="item.userName">
            </a>
            <h2>
              <a class="layui-badge">{{item.columnsName}}</a>
              <a :href="'/jie/detailhtml?id='+item.iD">{{item.title}}</a>
            </h2>
            <div class="fly-list-info">
              <a :href="'/user/homehtml?userID='+item.userID" link>
                <cite>{{item.userName}}</cite>
                <!--
                <i class="iconfont icon-renzheng" title="认证信息：XXX"></i>
                <i class="layui-badge fly-badge-vip">VIP3</i>
                -->
              </a>
              <span>{{ formatDate(item.updateTime) }}</span>
              
              <span class="fly-list-kiss layui-hide-xs" title="悬赏飞吻"><i class="iconfont icon-kiss"></i> {{item.experience}}</span>
              <!--<span class="layui-badge fly-badge-accept layui-hide-xs">已结</span>-->
              <span class="fly-list-nums"> 
                <i class="iconfont icon-pinglun1" title="回答"></i> {{item.commentsCount}}
              </span>
            </div>
            <div class="fly-list-badge">
              <span class="layui-badge layui-bg-black" v-if="item.placedTop==1">置顶</span>
              <!--<span class="layui-badge layui-bg-red">精帖</span>-->
            </div>
          </li>
        </ul>
        <br>
        <br>
         <div class="fly-none" v-if="Article.length===0">没有相关数据</div>
        <div style="text-align:center;" v-if="Article.length!==0">
          <div class="laypage-main" >
            <a class="laypage-curr" href="#" v-on:click="getArtPage(1,pagesize,1)">首页</a>
            <a class="laypage-next" href="#" v-on:click="getArtPage(--current_page,pagesize,2)" >上页</a>
            <a class="laypage-next"  >{{current_page}} / {{Math.ceil(ArticleCount/pagesize)}}</a>
            <a class="laypage-next" href="#" v-on:click="getArtPage(++current_page,pagesize,3)"  >下页</a>
            <a class="laypage-curr"  href="#" v-on:click="getArtPage(Math.ceil(ArticleCount/pagesize),pagesize,4)" >尾页</a>
          </div>
        </div>


      </div>
    </div>
    <div class="layui-col-md4">
      <dl class="fly-panel fly-list-one">
        <dt class="fly-panel-title">本周热议</dt>
        <dd v-for="(item,index) in ArticleTop15" :key="index">
          <a :href="'/jie/detailhtml?id='+item.iD">{{item.title}}</a>
          <span><i class="iconfont icon-pinglun1"></i> {{item.commentsCount}}</span>
        </dd>
        <!-- 无数据时 -->

        <div v-if="ArticleTop15.length==0" class="fly-none">没有相关数据</div>

      </dl>

      <div class="fly-panel">
        <div class="fly-panel-title">
          <div v-if="Advertising.length==0">没有任何广告数据</div>
        </div>
        <div class="fly-panel-main">
          <a href="/contact/writer" target="_blank" class="fly-zanzhu" style="background-color: #393D49;">虚席以待</a>
        </div>
      </div>
      
      <div class="fly-panel fly-link">
        <h3 class="fly-panel-title">友情链接</h3>
        <dl class="fly-panel-main">
          <dd><a href="http://www.layui.com/" target="_blank">LayUI</a><dd>
          <dd><a href="https://cn.vuejs.org/" target="_blank">Vue</a><dd>
          <dd><a href="https://spring.io/" target="_blank">Spring</a><dd>
          <dd><a href="http://www.mybatis.cn/" target="_blank">Mybatis</a><dd>
          <dd><a href="/contact/writer" target="_blank" class="fly-link">申请友链</a><dd>
        </dl>
      </div>

    </div>
  </div>
</div>

<div class="fly-footer">
  <p>Copyright &copy; 2020.Company name All rights reserved.</p>
</div>


<script src="../../../js/jquery-2.1.1.min.js"></script>
<script>
  $('.header-page').load('../common/header.html');
</script>
<script src="../../../res/layui/layui.js"></script>
<script src="../../../js/vue.min.js"></script>
<script src="../../../js/title.js"></script>
<script src="../../../js/artcledetail.js"></script>
</body>
</html>