
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>用户中心</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="../../../res/layui/css/layui.css">
  <link rel="stylesheet" href="../../../res/css/global.css">
  <style>
    [v-cloak]{
      display: none;
    }
  </style>
</head>
<body>

<div class="header-page"></div>

<div class="layui-container fly-marginTop fly-user-main" id="uservue1">
  <ul class="layui-nav layui-nav-tree layui-nav-side layui-inline" lay-filter="user">
    <li class="layui-nav-item">
      <a :href="'/user/homehtml?userID='+session3.iD">
        <i class="layui-icon">&#xe609;</i>
        我的主页
      </a>
    </li>
    <li class="layui-nav-item layui-this">
      <a href="index.html">
        <i class="layui-icon">&#xe612;</i>
        用户中心
      </a>
    </li>
    <li class="layui-nav-item">
      <a href="set.html">
        <i class="layui-icon">&#xe620;</i>
        基本设置
      </a>
    </li>
    <li class="layui-nav-item">
      <a href="message.html">
        <i class="layui-icon">&#xe611;</i>
        我的消息
      </a>
    </li>
  </ul>

  <div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
  </div>
  <div class="site-mobile-shade"></div>
  
  <div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
  </div>
  <div class="site-mobile-shade"></div>
  
  
  <div class="fly-panel fly-panel-user" pad20>
    <!--
    <div class="fly-msg" style="margin-top: 15px;">
      您的邮箱尚未验证，这比较影响您的帐号安全，<a href="activate.html">立即去激活？</a>
    </div>
    -->
    <div class="layui-tab layui-tab-brief" lay-filter="user" v-cloak>
      <ul class="layui-tab-title" id="LAY_mine">
        <li data-type="mine-jie" lay-id="index" class="layui-this">我发的帖（<span>{{articles.length}}</span>）</li>
        <li data-type="collection" data-url="/collection/find/" lay-id="collection">我收藏的帖（<span>0</span>）</li>
      </ul>
      <div class="layui-tab-content" style="padding: 20px 0;" >
        <div class="layui-tab-item layui-show">
          <ul class="mine-view jie-row">
            <li v-for="(item,index) in articles">
              <span class="fly-jing" v-if="item.goodPost==1">精</span>
              <a :href="'/jie/detailhtml?id='+item.iD" class="jie-title"> {{item.title}}</a>
              <i>{{formatDate(item.updateTime)}}</i>
              <em class="layui-hide-xs">{{item.watchCount}}阅/{{item.commentsCount}}答</em>
            </li>
            <div v-if="articles==null" class="fly-none" style="min-height: 50px; padding:30px 0; height:auto;"><i style="font-size:14px;">没有发表任何求解</i></div>
          </ul>
          <div id="LAY_page"></div>
        </div>
        <div class="layui-tab-item">
          <ul class="mine-view jie-row">
            <li v-for="(item,index) in articles">
              <span class="fly-jing">精</span>
              <a :href="'/jie/detailhtml?id='+item.iD" class="jie-title"> {{item.title}}</a>
              <i>{{item.updateTime}}</i>
              <em class="layui-hide-xs">{{item.watchCount}}阅/{{item.commentsCount}}答</em>
            </li>
            <div v-if="articles==null" class="fly-none" style="min-height: 50px; padding:30px 0; height:auto;"><i style="font-size:14px;">没有发表任何求解</i></div>

          </ul>
          <div id="LAY_page1"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fly-footer">
  <p>Copyright &copy; 2020.Company name All rights reserved.</p>
</div>

<script src="../../../js/jquery-2.1.1.min.js"></script>
<script src="../../../res/layui/layui.js"></script>
<script>
  $('.header-page').load('../common/header.html');
  //注意：导航 依赖 element 模块，否则无法进行功能性操作
  layui.use('element', function(){
    var element = layui.element;

    //…
  });
</script>
<script src="../../../js/vue.min.js"></script>
<script src="../../../js/user.js"></script>

</body>
</html>