<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaobai.classcommunication.mapper.UserMapper">
    <select id="LoginCheck" resultType="string">
        select password from class_user where email=#{Email}
    </select>
    <select id="CheckEmail" resultType="integer">
        select count(email) from class_user where email=#{email}
    </select>
    <insert id="InsertUser" parameterType="com.xiaobai.classcommunication.bean.User">
        insert into class_user(UserName,Email,Password,Role,Time) values(#{UserName},#{Email},#{PassWord},#{Role},#{Time})
    </insert>
    <select id="GetUserID" parameterType="string" resultType="integer">
        select ID from class_user where Email=#{email}
    </select>
    <select id="GetUser" parameterType="string" resultType="com.xiaobai.classcommunication.bean.User">
        select * from class_user where Email=#{email}
    </select>
    <select id="GetUserbyID" parameterType="integer" resultType="com.xiaobai.classcommunication.bean.User">
        select * from class_user where ID=#{ID}
    </select>
    <update id="UpdateUserImage" parameterType="com.xiaobai.classcommunication.bean.User">
        update class_user set Image=#{Image} where Email=#{Email}
    </update>
    <update id="UpdateUserInfo" parameterType="com.xiaobai.classcommunication.bean.User">
        update class_user set Email=#{Email},UserName=#{UserName},Sex=#{Sex},Sign=#{Sign},City=#{City} where ID=#{ID}
    </update>
    <update id="UpdateUserPassword" parameterType="com.xiaobai.classcommunication.bean.User">
        update class_user set PassWord=#{PassWord} where ID=#{ID}
    </update>
</mapper>